*.d
*.o
/.doctrees
/.features
/.dependencies
/.libdeps
/build_details.txt
/flashrom
/flashrom-*
/flashrom.exe
/flashrom.8
/flashrom.bash
/libflashrom.a
/libflashrom-doc/
/man8

/util/ich_descriptors_tool/ich_descriptors_tool
/util/ich_descriptors_tool/ich_descriptors_tool.exe
/util/ich_descriptors_tool/.dep
/util/ich_descriptors_tool/.obj

target/
